name: Publish NuGet Package

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: "9.0.x"

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore

      - name: Pack with NoDefaultExcludes
        run: dotnet pack -c Release --no-build --output ./artifacts -p:NoDefaultExcludes=true

      - name: Publish to GitHub Packages
        run: >
          dotnet nuget push ./artifacts/*.nupkg
          --source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"
          --api-key ${{ secrets.GITHUB_TOKEN }}
          --skip-duplicate
